@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/*Colores principales*/
	--color-base: #537b50;
	--color-base-oscuro: #3d5c3a;
	--color-base-claro: #6a9e66;
	--color-fondo: #ced6c9;
	--color-fondo-claro: #dfe7d8;
	/*Colores de inputs*/
	--color-input: #d6d3d1;

	/*Colores modo oscuro*/
	--color-dark-superficie: #374151;
	--color-dark-fondo: #1f2937;
	--color-dark-tarjeta: #2d3d2b;

}
